examples/Pi-Temperature.json
[{"id":"30926b04.93fdf4","type":"inject","z":"6e61872d.919e78","name":"","topic":"tempC","payload":"","payloadType":"str","repeat":"20","crontab":"","once":false,"x":110,"y":100,"wires":[["273e20ec.1b1a1"]]},{"id":"273e20ec.1b1a1","type":"exec","z":"6e61872d.919e78","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","name":"","x":230,"y":180,"wires":[["7f0ef909.e41ea8"],[],[]]},{"id":"7f0ef909.e41ea8","type":"function","z":"6e61872d.919e78","name":"","func":"msg.payload = Number(msg.payload.slice(5,-3));\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["58ca91ff.8e39b","ac115521.9eb648"]]},{"id":"58ca91ff.8e39b","type":"debug","z":"6e61872d.919e78","name":"","active":true,"console":"false","complete":"false","x":530,"y":160,"wires":[]},{"id":"ac115521.9eb648","type":"n2n out","z":"6e61872d.919e78","iface":"","name":"","x":520,"y":100,"wires":[]},{"id":"f7232c53.ee395","type":"comment","z":"6e61872d.919e78","name":"Report Pi cpu temperature data","info":"Reports the CPU temperature of a Raspberry Pi every 20 seconds using the n2n node.\n\nTo receive the data add an n2n in node on another machine and comfigure it to listen for `tempC`","x":180,"y":40,"wires":[]}]
